<footer class=" py-2  mt-auto" style="background-color: rgb(243, 243, 243); box-shadow: 0px 10px 15px rgba(0,0,0,0.3); border-top: 1px solid rgba(0, 0, 0, 0.091); font-family: 'Quicksand' , sans-serif;">
    <div class="align-items-center container d-flex justify-content-between ">
        <div class="Icontainer align-items-center">
              <img src="/assets/Untitled.png" alt="Logo">
     <a href="https://www.facebook.com/p/EngFathy-Abdelaziz-61557124291275/" target="_blank"> <i style="margin-left: 90px;" class="bi bi-facebook text-primary"></i></a>      
    <a href="https://www.youtube.com/@fathymohamed5341" target="_blank">        <i class="bi bi-youtube ms-2 text-danger"></i></a>   
 
        </div>
        <div class="containerbelow">
        <span class="mb-0 p-0">©Eng. Fathy Abd elaziz 2026</span>
                <div style="height: 20px ; width: 1px; background-color: rgba(0, 0, 0, 0.371) ;"></div>

        <div class="align-items-center d-flex ">
                   <i class="bi bi-mortarboard-fill mx-2 text-primary"></i>
                   <p class="align-items-center text-center mb-0"> Learn , Grow , Succedd</p>
        </div>
                <div style="height: 20px ; width: 1px; background-color: rgba(0, 0, 0, 0.371) ;"></div>

 <p class="mt-3">Developed by <a href="https://yasmine-mustafa-web.github.io/cvWebsite/" target="_blank">Yasmine</a></p>

    </div>
    </div>
</footer>